<div class="flex justify-center items-center">
    <p class="text-white text-left font-light">
    Estudiante de <span class="text-[#FFD900]">ingeniería cívil en computación</span><br>
    <span class="text-[#FFD900]">e informática</span> en Antofagasta, Chile. Enfocado <br>
    en el <span class="text-[#FFD900]">desarrollo de aplicaciones web</span> y <br>
    <span class="text-[#FFD900]">automatización de procesos.</span><br>
    Motivado por las ganas de <span class="text-[#FFD900]">aprender</span> y aplicar <br>
    nuevos conceptos de la informática, junto con <br>
    realizar <span class="text-[#FFD900]">trabajos y estudios</span> de manera <br>
    <span class="text-[#FFD900]">autodidacta</span>.<br><br>
    <span class="text-2xl">Habilidades técnicas:</span><br><br>
    </p>
</div>