<div class="flex flex-col justify-center items-center h-full pb-20">
    <!-- Biografía con posición actual -->
    <p class="text-white text-left font-light">
    Estudiante de <span class="text-[#FFD900]">ingeniería cívil en computación</span><br>
    <span class="text-[#FFD900]">e informática</span> en Antofagasta, Chile. Enfocado <br>
    en el <span class="text-[#FFD900]">desarrollo de aplicaciones web</span> y <br>
    <span class="text-[#FFD900]">automatización de procesos.</span><br>
    Motivado por las ganas de <span class="text-[#FFD900]">aprender</span> y aplicar <br>
    nuevos conceptos de la informática, junto con <br>
    realizar <span class="text-[#FFD900]">trabajos y estudios</span> de manera <br>
    <span class="text-[#FFD900]">autodidacta</span>.<br><br>
    <!-- Habilidades técnicas -->
    <span class="text-2xl">Habilidades técnicas:</span><br><br>
    <span class="text-[#FFD900]">• Desarrollo</span> en el lenguaje <span class="text-[#FFD900]">Java</span> en campos tales<br>
    como el <span class="text-[#FFD900]">Frontend</span>, o el desarrollo de soluciones<br>
    informáticas <br> <br>
    <span class="text-[#FFD900]">• Creación</span> de proyectos de <span class="text-[#FFD900]">API REST</span> mediante el<br>
    framework de <span class="text-[#FFD900]">ASP .NET CORE</span> en el lenguaje de <span class="text-[#FFD900]">C#</span><br><br>
    <span class="text-[#FFD900]">• Analisis, procesamiento y visualización de datos</span><br>
    con el uso de librerias como pandas, selenium,<br>
    matplotlib y sqlalchemy en <span class="text-[#FFD900]">Python</span> usando<br>
    <span class="text-[#FFD900]">Anaconda</span>; Y manejando el uso de <span class="text-[#FFD900]">PowerBi</span>.<br><br>
    <span class="text-[#FFD900]">• Creación</span> de videojuegos en las plataformas de<br>
    <span class="text-[#FFD900]">escritorio y móvil</span>, con el uso del motor gráfico<br>
    de <span class="text-[#FFD900]">Unity</span> <br> <br>
    <span class="text-[#FFD900]">• Uso</span> de <span class="text-[#FFD900]">C++</span> a nivel intermedio<br><br>
    <!-- Habilidades blandas -->
    <span class="text-2xl">Habilidades blandas:</span><br><br>
    <span class="text-[#FFD900]">• Colaborador</span> <br>
    <span class="text-[#FFD900]">• Amistoso</span> <br>
    <span class="text-[#FFD900]">• Serio</span> <br>
    <span class="text-[#FFD900]">• Flexible</span> <br>
    <span class="text-[#FFD900]">• Empatico</span> <br><br>
    <!-- Proyectos destacados -->
    <span class="text-2xl">Proyectos destacados:</span><br><br>
    <span class="text-[#FFD900]">• Primer lugar</span> en la asignatura <a href="https://github.com/AlbertoLyons/PII_DigitalDreamTeam.git" class="text-[#51B8EC] underline">Proy introducción <br>
    a la ingeniería II</a>. Trabajando como Líder<br>
    programador, coordinando en la etapa conceptual<br>
    y lógica usando Unity <br> <br>
    • Participación en <a href="https://github.com/Katapentakill/HackaDiscBackendDefinitivo" class="text-[#51B8EC] underline">HackaDisc 2023</a> como <br>
    <span class="text-[#FFD900]">desarrollador backend</span> realizando desarrollo de <br>
    una <span class="text-[#FFD900]">API REST con JavaScript</span> utilizando el <br>
    Framework <span class="text-[#FFD900]">Express</span>
    </p>
</div>