div{
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    align-items: center;
}
.w-screen{
    background-color: #0C530C;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}
