<div class="flex justify-center items-center h-20 bg-[#D8D8D8] font-jetbrains"> <!-- Barra de navegación -->
    <a class="underline text-[#51B8EC]">Github LinkedIn</a>
</div>
<div class="w-screen h-screen font-jetbrains text-lg p-6"> <!-- Principal con padding -->
    <div class="flex justify-center items-center h-full bg-[#0C530C]"> <!-- Principal -->
        <div class="box-border bg-[#011F05] p-6 rounded-3xl shadow-lg"> <!-- Agrega padding y bordes redondeados -->
            <div class="flex flex-col justify-center items-center h-full"> <!-- Imagen y texto -->
                <img class="w-32 h-32 rounded-full mb-4" src="alberto.jpg" alt="Alberto Lyons">
                <p class="text-3xl text-white font-bold">Alberto Lyons</p>
            </div>
        </div>
    </div>
</div>
